<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<context:property-placeholder location="classpath:config/env.properties" />

	<context:component-scan base-package="com.redis" />
	
	<!-- Spring Jedis Sentinel Pool环境配置 -->
	<!-- <import resource="classpath:redis-sentinel-config.xml" /> -->
	
	<!-- Spring Jedis Pool环境配置 -->
	<!-- <import resource="classpath:redis-config.xml" /> -->
	
	<!-- PropertyPlaceholderConfigurer在加载上下文的时候暴露properties到自定义子类的属性中以供程序中使用 -->
 	<bean id="propertyConfigurer" class="com.redis.redis_java.properties.PropertyConfigurer">
	   <property name="ignoreUnresolvablePlaceholders" value="true"/>
	   <property name="ignoreResourceNotFound" value="true"/>
	   <property name="locations">
	       <list>
	          <value>classpath:config/env.properties</value>
	       </list>
	   </property>
	</bean>
</beans>